/* Universal style */
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 20px;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1{
    font-size: 35px;
    font-family: "Rubik", sans-serif;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
    padding-bottom: 10px;
}

body {
    margin: 30px auto;
    width: 80%;
    font-family: "Roboto", sans-serif;
    color: rgb(27, 27, 27);
}

.center {
    text-align: center;
}

section {
    border: 2px solid rgb(27, 27, 27);
    padding: 15px 15px 40px 15px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 1.4;
}

.sectionTitle {
    margin: 40px 20px;
}

.brightFont {
    color: white;
}

.darkFont {
    color: black;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: 300;
}


/* Header */
header {
    padding-bottom: 20px;
}

/* Colors section */
.colorContainer {
    display: inline-block;
    width: 25%;
    text-align: center;
    height: 100px;
    margin: 10px;
    padding: 30px 10px;
}

.colorContainer h3{
    padding: 10px;
}

#firstColor {
    background-color: #264653;
}

#secondColor {
    background-color: #2a9d8f;
}

#thirdColor {
    background-color: #e9c46a;
}

#fourthColor {
    background-color: #f4a261;
}

/* Fonts section */
#fontsSection h3{
    text-decoration: underline;
}

.fontContainer {
    display: inline-block;
    width: auto;
    padding-right: 30px;
    padding-bottom: 30px;
}

#firstFont {
    font-family: "Roboto";
}

#secondFont {
    font-family: "Lato";
}

#thirdFont {
    font-family: "Rubik";
}

/* Text styles section */
#textStylesSection ul {
    margin: 10px 0 40px 20px;
}

#textStylesSection h3 {
    padding: 0;
}